<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="receipt">
	<select id="reservationList"
	resultType="com.project.dragonball.model.receipt.dto.ReceiptDTO">
	select receipt_no, userid, building_code, building_name, room_no, room_name, date_start, date_end, price, reply
	from receipt
	where userid = #{userid}
	</select>
	

	<select id="roomlist" resultType="com.project.dragonball.model.receipt.dto.ReceiptDTO">
	 select room_no,building_code,building_name,room_name,room_price,room_size,picture_url
	 from room_list
	 where room_no=#{ROOM_NO}
	</select>
	

	<update id="reviewUpdate">
	update receipt set reply = 'Y'
	where receipt_no = #{receipt_NO}
	</update>
	
	<insert id="insert">
	  insert into receipt (userid,building_code,building_name,room_no,room_name,date_start,date_end,roomcount,price,picture_url) values
    (#{userid},#{building_code},#{building_name},#{room_no},#{room_name},#{startdate},#{enddate},#{room_size},#{price},#{picture_url})
    
	</insert>

</mapper>














