<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="receipt">
	<select id="reservationList"
	resultType="com.project.dragonball.model.receipt.dto.ReceiptDTO">
	select receipt_no, userid, building_code, building_name, room_no, room_name, date_start, date_end, price, reply
	from receipt
	where userid = #{userid}
	</select>
</mapper>














