<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.project.dragonball.model.roomdetail.dto.OwnerListDTO" alias="ownerListDTO"/>
		<typeAlias type="com.project.dragonball.model.roominfo.dto.RoomListDTO" alias="roomListDTO"/>
		<typeAlias type="com.project.dragonball.model.roomreview.dto.RoomReviewDTO" alias="roomReviewDTO"/>
		<typeAlias type="com.project.dragonball.model.roomPhoto.dto.RoomPhotoDTO" alias="roomPhotoDTO"/>
	</typeAliases>

</configuration>

